/* src/components/Main/Main.css */
.main {
  display: flex;
  justify-content: space-between;
}

.status-column {
  flex: 1;
  border-right: 1px solid #ccc;
  padding: 0 10px;
}

.status-column:last-child {
  border-right: none;
}

.status-column h3 {
  text-align: center;
}