/* src/components/Main/Main.css */

.main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.task-column {
  flex: 1;
  margin: 0 10px;
}

.task-column h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  overflow-y: auto; /* Permite el desplazamiento si el contenido es mayor al contenedor */
}