/* src/components/Main/Main.css */

.main {
    flex-grow: 1;
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .task-sections {
    display: flex;
    justify-content: space-between;
  }
  
  .task-section {
    flex: 1;
    margin: 0 10px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .task-section h2 {
    margin-top: 0;
  }
  