:root {
  --primary-color: #2c3d4e; /* Azul oscuro */
  --secondary-color: #00d084; /* Verde claro */
  --background-color: #F5F5F5; /* Gris claro */
  --text-color: #333333; /* Gris oscuro */
}

.app-container {
  display: flex;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  flex-direction: row;
}

/* Estilos para la barra lateral (Sidebar) */
.sidebar {
  width: 250px;
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para el contenido principal */
.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Estilos para el header */
.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--primary-color);
}

.header img {
  height: 50px;
  margin-right: 10px;
}

.header h1 {
  color: white;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    box-shadow: none;
    position: relative;
    height: auto;
  }

  .main-content {
    padding: 10px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header img {
    height: 40px;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* Media queries para dispositivos móviles más pequeños */
@media (max-width: 480px) {
  .header h1 {
    font-size: 18px;
  }

  .sidebar {
    width: 100%;
    font-size: 14px;
  }

  .main-content {
    padding: 5px;
  }
}
