/* src/components/Login/Login.css */
:root {
  --primary-color: #2c3d4e; /* Azul oscuro */
  --secondary-color: #00d084; /* Verde claro */
  --background-color: #F5F5F5; /* Gris claro */
  --text-color: #333333; /* Gris oscuro */
}

/* Estilos básicos */
.login-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
  background-color: var(--background-color);
}

.login-left, .login-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Estilos para la sección de izquierda */
.login-left {
  background-color: var(--background-color);
  flex-direction: column;
}

.company-logo {
  width: 100px;
  height: 100px;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.company-name {
  font-size: 18px;
  margin-bottom: 40px;
  color: var(--text-color);
}

.app-name-circle {
  width: 200px;
  height: 200px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-name {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
}

.app-subtitle {
  font-size: 18px;
  color: var(--text-color);
}

/* Estilos para la sección de derecha */
.login-right {
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-right h2 {
  margin-bottom: 20px;
  color: var(--text-color);
}

.login-right .MuiTextField-root {
  width: 100%;
  margin-bottom: 20px;
}

.login-right .MuiButton-root {
  width: 100%;
  margin-top: 20px;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-left, .login-right {
    padding: 10px;
  }

  .company-logo {
    width: 80px;
    height: 80px;
  }

  .company-name {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .app-name-circle {
    width: 150px;
    height: 150px;
  }

  .app-name {
    font-size: 20px;
  }

  .app-subtitle {
    font-size: 16px;
  }

  .login-right h2 {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .company-name {
    font-size: 14px;
  }

  .app-name-circle {
    width: 120px;
    height: 120px;
  }

  .app-name {
    font-size: 18px;
  }

  .app-subtitle {
    font-size: 14px;
  }

  .login-right h2 {
    font-size: 16px;
  }
}
