/* src/components/Project/Project.css */

.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  position: relative; /* Asegura que los elementos hijos se posicionen en relación al contenedor */
}

.create-project-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
  position: relative; /* Asegura que el botón tenga un contexto de apilamiento adecuado */
}

.create-project-btn:hover {
  background-color: #0056b3;
}

.logout-link {
  margin-top: auto;
  padding: 10px 20px;
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.logout-link:hover {
  text-decoration: underline;
}
